<div class="pageBox footerM" style="margin-top:8px;">
    <ul>
        <li><a href="<!--{echo $doMain;}-->">首页</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=type">分类</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=bookList">书库</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=rank">排行</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=user&a=Cmoney">充值</a></li>
    </ul>
    <div class="erweima"><img src="<!--{if(empty($bookInfo['erweima_url']))}--><!--{echo $staticsMain;}-->Images/m/alshangtingshu.jpg<!--{else}-->http://yscms.suixinmh.com/Uploads/erweima/<!--{echo $bookInfo['erweima_url'];}--><!--{/if}-->" /><br />长按关注最爱听书，以便获取更多优秀作品</div>
    <div class="line">客服QQ：97066441</div>
    <div class="line">工作时间：周一到周五（9:30-18:00）</div>
    <div class="line"></div>
</div>
<div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1266231806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1266231806' type='text/javascript'%3E%3C/script%3E"));</script>
</div>