<div class="pageBox header">
    <div class="userIco"><a href="<!--{echo $doMain;}-->index.php?c=user&a=index"></a></div>
    <div class="log"></div>
    <div class="caseIco"><a href="<!--{echo $this->doMain;}-->index.php?c=user&a=shelf"></a></div>
</div>
<div class="pageBox">
    <ul class="menuBox">
        <li><a href="<!--{echo $doMain;}-->">首页</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=type">分类</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=bookList">书库</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=index&a=rank">排行</a></li>
        <li><a href="<!--{echo $doMain;}-->index.php?c=user&a=Cmoney">充值</a></li>
    </ul>
</div>