<!doctype html>
<html>
<head>
<title><!--{echo $title;}--></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link href="<!--{echo $staticsMain;}-->Css/style.css?v=4.1.998" rel="stylesheet" type="text/css"/>
<link href="<!--{echo $staticsMain;}-->Css/user.css?v=4.1.998" rel="stylesheet" type="text/css"/>
<script src="<!--{echo $staticsMain;}-->Js/jquery.min.js"></script>
<script language="javascript">
$(window).load(function() {
	$("#status").fadeOut();
	$("#preloader").delay(350).fadeOut("slow");
})
</script>

</head>