<div class="paytltleBox indexIco">友情提示</div>
<div class="payTextBox">
<span style="color:#F00">1、后续内容为VIP收费内容，请您充值后继续收听！</span>
<br />2、充值后可收听本网站任意内容，本站拥有50000分钟各类精彩内容。
<br />3、如遇到任何问题，请长按下方二维码关注客服微信或客服QQ寻求帮助。
</div>
<!--<div class="payTitle">选择充值方式</div>
--><ul class="payType clearfix">
    <li class="choice" data-type="wx" data-url="<!--{echo $doMain;}-->index.php?c=user&a=wxPay">微信充值</li>
    <!--<li class="nochoice" data-type="ali" data-url="<!--{echo $doMain;}-->index.php?c=pay&a=aliApyDo">支付宝充值</li>-->
</ul>
<!--<div class="payTitle">选择充值面额</div>-->
<ul class="payMoney clearfix">
    <li data="30"><div class="money">￥30</div><span><!--{echo $scale*30;}-->+<font color="#FF0000"><!--{echo $scale*(30*$giveConf['give_scale_30']);}-->金币</font></span></li>
    <li data="50"><div class="money hover">￥50</div><span><!--{echo $scale*50;}-->+<font color="#FF0000"><!--{echo $scale*(50*$giveConf['give_scale_50']);}-->金币</font></span></li>
    <li data="80"><div class="money">￥80</div><span><!--{echo $scale*80;}-->+<font color="#FF0000"><!--{echo $scale*(80*$giveConf['give_scale_80']);}-->金币</font></span></li>
    <li data="100"><div class="money">￥100</div><span><!--{echo $scale*100;}-->+<font color="#FF0000"><!--{echo $scale*(100*$giveConf['give_scale_100']);}-->金币</font></span></li>
    <li data="200"><div class="money">￥200</div><span><!--{echo $scale*200;}-->+<font color="#FF0000"><!--{echo $scale*(200*$giveConf['give_scale_200']);}-->金币</font></span></li>
    <li data="500"><div class="money">￥500</div><span><!--{echo $scale*500;}-->+<font color="#FF0000"><!--{echo $scale*(500*$giveConf['give_scale_500']);}-->金币</font></span></li>
</ul>
<div class="goPayBox" style="cursor:pointer">去支付</div>
<script>
var money=50;
var payType='wx';
var payUrl='<!--{echo $doMain;}-->index.php?c=user&a=wxPay';
localStorage.setItem("manyuedu_toUrl","<!--{echo $thisUrl;}-->");
$(document).on("click",".payType li",function(){
	$(this).siblings().attr("class","nochoice");
	$(this).attr("class","choice");
	var className=$(this).attr("class");
	if(className=='choice'){
		payType=$(this).attr("data-type");
	}
	payUrl=$(this).attr("data-url");
});
$(document).on("click",".payMoney li",function(){
	$(this).parent().find("div").removeClass("hover");
	var thisval=$(this).children("div").attr("class");
	$(this).children("div").attr("class",thisval+" hover");
	money=$(this).attr("data");
});
$(document).on("click",".goPayBox",function(){
	if (typeof(money) == "undefined") {
		money=50;
	}
	window.location=payUrl+"&money="+money+"&toUrl=<!--{echo urlencode($thisUrl);}-->";
});
</script>