<div class="paytltleBox indexIco">友情提示</div>
<div class="payTextBox">
<span style="color:#F00">1、后续内容为VIP收费内容，请您充值后继续收听！</span>
<br />2、充值后可收听本网站任意内容，本站拥有50000分钟各类精彩内容。
<br />3、如遇到任何问题，请长按下方二维码关注客服微信或客服QQ寻求帮助。
</div>
<!--<div class="payTitle">选择充值方式</div>
--><ul class="payType clearfix">
    <li class="choice" data-type="wx" data-url="<!--{echo $doMain;}-->index.php?c=user&a=wxPay">微信充值</li>
    <!--<li class="nochoice" data-type="ali" data-url="<!--{echo $doMain;}-->index.php?c=pay&a=aliApyDo">支付宝充值</li>-->
</ul>
<!--<div class="payTitle">选择充值面额</div>-->
<ul class="payMoney clearfix">
    <li data="30"><div class="money ">￥30</div><span><!--{echo $scale*30;}-->+<font color="#FF0000"><!--{echo $scale*(30*$giveConf['give_scale_30']);}-->金币</font></span></li>
    <li data="50"><div class="money ">￥50</div><span><!--{echo $scale*50;}-->+<font color="#FF0000"><!--{echo $scale*(50*$giveConf['give_scale_50']);}-->金币</font></span></li>
    <li data="80"><div class="money ">￥80</div><span><!--{echo $scale*80;}-->+<font color="#FF0000"><!--{echo $scale*(80*$giveConf['give_scale_80']);}-->金币</font></span></li>
    <li data="100"><div class="money ">￥100</div><span><!--{echo $scale*100;}-->+<font color="#FF0000"><!--{echo $scale*(100*$giveConf['give_scale_100']);}-->金币</font></span></li>
    <li data="200"><div class="money ">￥200</div><span><!--{echo $scale*200;}-->+<font color="#FF0000"><!--{echo $scale*(200*$giveConf['give_scale_200']);}-->金币</font></span></li>
    <li data="500"><div class="money ">￥500</div><span><!--{echo $scale*500;}-->+<font color="#FF0000"><!--{echo $scale*(500*$giveConf['give_scale_500']);}-->金币</font></span></li>
</ul>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
var money=50;
var payType='wx';
var bookid='<!--{echo $bookId;}-->';
var payUrl='<!--{echo $doMain;}-->index.php?c=user&a=wxPPay&bookid=<!--{echo $bookId;}-->';
localStorage.setItem("manyuedu_toUrl","<!--{echo $thisUrl;}-->");
var openid='<!--{echo openid;}-->';
function setCookie(c_name,value,expiredays)
{
var exdate=new Date()
exdate.setDate(exdate.getDate()+expiredays)
document.cookie=c_name+ "=" +escape(value)+
((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
};

$(document).ready(function(){
	var openid="<!--{echo $openid;}-->";
	if(openid != ''){
	var appId="<!--{echo $wxResult['appId'];}-->";
	var timeStamp="<!--{echo $wxResult['timeStamp'];}-->";
	var nonceStr="<!--{echo $wxResult['nonceStr'];}-->";
	var package="<!--{echo $wxResult['package'];}-->";
	var paySign="<!--{echo $wxResult['sign'];}-->";
	var toUrl=localStorage.getItem("manyuedu_toUrl");
	var bookid='<!--{echo $bookid}-->';
	var returnUrl='<!--{echo $doMain;}-->index.php?c=user&a=playerMessage&bookid=<!--{echo $bookid;}-->&money=<!--{echo $money;}-->';
	function onBridgeReady(){
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',{
				"appId":appId,
				"timeStamp":timeStamp,
				"nonceStr":nonceStr, //随机串
				"package":package,
				"signType":"MD5",//微信签名方式：
				"paySign":paySign //微信签名
			},
			function(res){
				if(res.err_msg=="get_brand_wcpay_request:ok"){
					window.location.replace(toUrl);
				}
				if(res.err_msg=="get_brand_wcpay_request:cancel" || res.err_msg=="get_brand_wcpay_request:fail"){
					if(bookid=='') {
						window.history.go(-1);
					}else{
						window.location.replace(returnUrl);
					}
				}
			}
		);
	}
	function callpay(){
		if (typeof WeixinJSBridge == "undefined"){
			if(document.addEventListener){
				document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
			}else if (document.attachEvent){
				document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
				document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
			}
		}else{
			onBridgeReady();
		}
	}
	callpay();
	}
});


$(document).on("click",".payMoney li",function(){
	$(this).parent().find("div").removeClass("hover");
	var thisval=$(this).children("div").attr("class");
	$(this).children("div").attr("class",thisval+" hover");
	money=$(this).attr("data");
	setCookie('bookid',bookid,1);
	window.location=payUrl+"&money="+money+"&toUrl=<!--{echo urlencode($thisUrl);}-->";
});
</script>
