<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>爱上听书管理平台</title>
    <meta name="keywords" content="爱上听书管理平台"/>
    <meta name="description" content="爱上听书管理平台"/>
	<script type="text/javascript" src="Js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/base.css">
	<link rel="stylesheet" type="text/css" href="Css/font.min.css">
    <script type="text/javascript" src="Js/jquery.form.js"></script>
	<style type="text/css">
    .demo{width:620px; margin:0px auto}
    .btn{position: relative;overflow: hidden;margin-right: 4px;display:inline-block;*display:inline;padding:4px 10px 4px;font-size:14px;line-height:18px;*line-height:20px;color:#fff;text-align:center;vertical-align:middle;cursor:pointer;background-color:#5bb75b;border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
    .btn input {position: absolute;top: 0; right: 0;margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
    .progress { position:relative; margin-left:100px; margin-top:-24px; width:200px;padding: 1px; border-radius:3px; display:none}
    .bar {background-color: green; display:block; width:0%; height:20px; border-radius: 3px; }
    .percent { position:absolute; height:20px; display:inline-block; top:3px; left:2%; color:#fff }
    .files{height:22px; line-height:22px; margin:10px 0}
    .delimg{margin-left:20px; color:#090; cursor:pointer}
    </style>
</head>
<body>
    <div class="i-con">
        <div class="box i-row">
		    <div class="i-col-12">
			    <ul class="con-nav">
					<li class="on"><a href="javascript:void(0);">编辑话题</a></li>
                    <li ><a href="<!--{echo $doMain}-->index.php?c=main&a=bookList&bookId=<!--{echo $bookInfo['id'];}-->">返回目录</a></li>
				</ul>
                <div class="box-con">
					<form class="form" name="form" method="post" action="<!--{echo $doMain}-->index.php?c=do&a=authorAudioEdit">
						<div class="form-group">
                            <div class="form-title">作者：</div>
							<div class="form-con i-col-6" style="line-height:40px;height:40px">
							<span><!--{echo $bookInfo['author_name'];}--></span>
							</div>
						</div>
						<div class="form-group">
                            <div class="form-title">文件：</div>
							<div class="form-con i-col-5" id="upPic">
                            <div class="demo">
                                    <div class="btn">
                                        <span>选择音频</span>
                                        <input id="fileupload" type="file" name="mypic">
                                    </div>
                                        <input id="audio_url" type="hidden" name="audio_url" value="<!--{echo $bookInfo['authorAudio'];}-->">
                                        <input id="cp" name="cp" type="hidden" value="auAudio"/>
                                    <div class="progress">
                                        <span class="bar"></span><span class="percent">0%</span >
                                    </div>
                                    <div class="files"><!--{if (!empty($bookInfo['authorAudio']))}--><b><!--{echo $bookInfo['authorAudio'];}--></b> <span class='delimg' rel="<!--{echo $bookInfo['authorAudio'];}-->">删除</span>"<!--{/if}--></div>
                               </div>
							</div>
						</div>

						<div class="form-submit">
                            <input name="id" type="hidden" value="<!--{echo $bookInfo['id'];}-->"/>
                           	<button class="btn btn-submit" type="submit">保存</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript" src="Js/ai.js"></script>
<script type="text/javascript">
$(function () {
	var bar = $('.bar');
	var percent = $('.percent');
	var progress = $(".progress");
	var files = $(".files");
	var btn = $(".btn span");
	$("#fileupload").wrap("<form id='myupload' action='action.php?act=auAudio' method='post' enctype='multipart/form-data'></form>");
    $("#fileupload").change(function(){
		$("#myupload").ajaxSubmit({
			dataType:  'json',
			beforeSend: function() {
				progress.show();
        		var percentVal = '0%';
        		bar.width(percentVal);
        		percent.html(percentVal);
				btn.html("上传中...");
    		},
    		uploadProgress: function(event, position, total, percentComplete) {
        		var percentVal = percentComplete + '%';
        		bar.width(percentVal);
        		percent.html(percentVal);
    		},
			success: function(data) {
				files.html("<b>"+data.name+"("+data.size+"k)</b> <span class='delimg' rel='"+data.pic+"'>删除</span>");
				$("#audio_url").val(data.pic);
				btn.html("添加附件");
			},
			error:function(xhr){
				btn.html("上传失败");
				bar.width('0')
				files.html(xhr.responseText);
			}
		});
	});

	$(".delimg").on('click',function(){
		var pic = $(this).attr("rel");
		$.post("action.php?act=delimg",{imagename:pic},function(msg){
			if(msg==1){
				files.html("删除成功.");
				$("#audio_url").val('');
				progress.hide();
			}else{
				alert(msg);
			}
		});
	});
});
</script>
</body>
</html>