<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<title>漫阅读文化管理平台</title>
    <meta name="keywords" content="漫阅读文化管理平台"/>
    <meta name="description" content="漫阅读文化管理平台"/>
    <script type="text/javascript" src="Js/jquery.min.js"></script>
	<script type="text/javascript" src="Js/jedate/jedate.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/base.css">
	<link rel="stylesheet" type="text/css" href="Css/font.min.css">
	<link rel="stylesheet" type="text/css" href="Css/jquery-confirm.css">
</head>
<body>
    <div class="i-con">
        <div class="box i-row">
		    <div class="i-col-12">
				<div class="box-con">
					<div class="box-filter">
						<div class="form-con i-col-2" style="width:108px;"><a href="<!--{echo $doMain;}-->index.php?c=main&a=slideAdd" class="btn" >添加幻灯</a></div>
					</div>
					<div class="table-con">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>主图</th>
									<th>标题</th>
									<th>排序</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="id">
                            <!--{foreach ($slideList as $k =>$v)}-->
								<tr>
									<td><!--{echo $v['id'];}--></td>
									<td><img src="Uploads/huandeng/<!--{echo $v['image'];}-->" style="width:100px;"></td>
									<td ><!--{echo $v['title'];}--></td>
									<td><!--{echo $v['sort'];}--></td>
									<td>
                                    <a class="btn btn-info" href="<!--{echo $this->doMain;}-->index.php?c=main&a=slideEdit&id=<!--{echo $v['id'];}-->"><i class="icon ai-edit"></i>编辑</a>
										<a class="delDo btn" data-href="<!--{echo $doMain;}-->index.php?c=main&a=delslide" data-id="<!--{echo $v['id'];}-->"><i class="icon ai-delete"></i>删除</a>
									</td>
								</tr>
                            <!--{/foreach}-->
							</tbody>
						</table>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="Js/jquery.min.js"></script>
	<script type="text/javascript" src="Js/ai.js"></script>
	<script type="text/javascript" src="Js/jquery-confirm.js"></script>
    <script>
	$(function(){
		$('.delDo').click(function(){
			var url=$(this).attr("data-href");
			var id=$(this).attr("data-id");
			if (confirm("你确定删除吗？")) {  
				$.ajax({
					type:"POST",
					url:url,
					data:{id:id},
					dataType: "json",
					success:function(data){
						if(data.res){
							 location.replace(location.href);
						}else{
							alert(data);
						}
					}
				 });
			}  
		});
	});
    </script>
</body>
</html>